	
	// Colors

	$verde:		#00cb56 !default;

	// Classes

	.transition{
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	.efeito-tremer{
		-webkit-animation: swing 0.5s ease;
		animation: swing 0.5s ease;
		-webkit-animation-iteration-count: 1;
		animation-iteration-count: 1;
	}